<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>

    <head>
        <title>CS at UoB</title>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<!-- Bootstrap -->
	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>

            <div class="page-header">
                {% if user.is_authenticated %}

                    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="{% url 'post_new' %}" class ="icon" >Add Post</a>

                    <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="{% url 'post_draft_list' %}" class="icon" >Drafts</a>

                    <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
                    <a href="{% url 'logout' %}" class="icon" >Log Out</a>

                    <p class="top-menu">Hello, {{ user.username }}!</p>

                {% else %}
                    <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                    <a href="{% url 'login' %}" class ="icon" >&nbsp Log In</a>
                {% endif %}
                <h1><a href="/">CS at UoB</a></h1>
            </div>

            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            <!-- My Script -->
	    <script src="{% static 'js/core.js' %}"></script>
    </body>
</html>